NEXT_PUBLIC_APP_URL=https://your-app-url.com

DATABASE_URL=your-database-url
DATABASE_AUTH_TOKEN=your-database-auth-token

BETTER_AUTH_SECRET=your-secret-key
BETTER_AUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret